network:
    ethernets:
        {{ trunk_iface }}:
            dhcp4: off
            dhcp6: off
            mtu: 1500
    vlans:
        vlan52:
            accept-ra: no
            id: 52
            addresses:
            - {{  internal_ip }}/24
            link: {{ trunk_iface }}
        vlan55:
            accept-ra: no
            id: 55
            addresses:            
            - {{  tunnel_ip }}/24
            link: {{ trunk_iface }}
        vlan53:
            accept-ra: no
            id: 53
            addresses:            
            - {{  test_external_ip }}/24
            link: {{ trunk_iface }}
